* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    flex-grow: 1;

}

img{
    width: 100px;
}

header{
    display: flex;
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
    justify-content: space-between;
    align-items: center;
}

footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}
